<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nbcj.travelshare.mapper.TravelsTypeMapper">

    <resultMap id="typemap" type="com.nbcj.travelshare.domain.TravelsType">
        <id column="tpid" property="tpid"/>
        <result property="tpname" column="tpname"/>
        <collection property="travels" column="tpid" select="com.nbcj.travelshare.mapper.TravelsMapper.findTravelsByTypeId"></collection>
    </resultMap>

    <select id="getTravelsByTpid" resultMap="typemap">
        SELECT tpid, tpname
        FROM travelstype
        WHERE tpid = #{tpid}
        LIMIT #{start},#{end}
    </select>
</mapper>